body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
}

/* Nút, input gọn hơn */
.MuiTextField-root {
  margin-bottom: 12px;
}
